/* Content Container */
.content {
    width: 100%;
    max-width: 100%;
}

.content--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.content--headerarc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 5px;
}

.header--title {
    color: #27374d;
    margin: 0;
    font-size: 1.5rem;
}

.header--activity {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-box {
    background: #f7f7f7;
    padding: 8px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 300px;
}

.search-box input {
    border: none;
    outline: none;
    background: transparent;
    padding: 5px;
    width: 100%;
    font-size: 0.9rem;
}

.search-box .icon {
    color: #969393;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.icon:hover {
    transform: scale(1.3);
    cursor: pointer;
}

.posts-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}