.menu {
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    height: 94vh;
}
.logo {
    text-align: center;
    padding: 20px;
    color: #27374d;
    align-items: center;
    display: flex;
    gap: 20px;
}
.logo-icon {
    font-size: 1.4rem;
}

.menu--list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.menu--list .item {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 10px 10px 20px;
    border-radius: 10px;
    transition: 0.3 ease-in-out;
    color: #27374d;
    color: inherit;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu--list .logout{
    color: #f22a2a;
}

.menu--list .item:hover {
    background: #27374d;
    color: #f7f7f7;
}

.menu--list .item.active {
    background-color: #27374d;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.05);
}

.icon {
    margin-right: 10px;
}

.logout {
    margin-top: auto;
    color: #d32f2f;
}